.mybtn {
    background-color: #73bfc5;
    border: 1px solid #6767da;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.mybtn_disabled {
    opacity: 0.5;
    cursor: auto;
}